/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap");

/* REGLAS GENERALES */

/* Definimos las variables de colores  */
:root {
    --text-color: rgb(0, 0, 0);
    --text-transparent-color: rgba(0, 0, 0, 0.5);
    --white-color: rgb(255, 255, 255);
    --primary-color: rgb(189, 55, 0);
    --main-bg-color: rgb(244, 244, 244);
    --bulletin-bg-color: rgb(242, 232, 228);
    --footer-bg-color: rgb(0, 0, 0);
    --button-hover-bg-color: rgb(0, 0, 0);
}
/* Reset de margins y paddings */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

cite {
    font-style: italic;
    font-weight: bold;
}

q {
    quotes: "«" "»";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
}

main a:hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    text-transform: uppercase;
    background-color: white;
    padding-bottom: 1rem;
}

#slogan {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1em;
}

#logo {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    color: var(--text-color);
}

header .menu-links li {
    display: inline-block;
    margin-right: 30px;
}

header .menu-links a {
    color: var(--text-color);
    font-weight: 800;
}

header .menu-links a:hover {
    color: var(--text-transparent-color);
}

header .menu-links .active {
    color: var(--primary-color);
}

#index-first-section {
    background: url(../img/bg-hero-home.jpg) no-repeat;
    background-size: cover;
    color: var(--white-color);
    font-size: 5rem;
    padding-bottom: 1.2em;
    padding-top: 1.2em;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

main {
    font-size: 1.9rem;
}

main p {
    margin-bottom: 1rem;
}

section {
    padding-bottom: 3rem;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 10px;

    max-width: 100%;
    justify-content: space-between;
}

.news-container h1 {
    padding-top: 0em;
    padding-bottom: 0em;
}

.news-container time {
    font-size: 1rem;
    font-weight: 600;
}

.news-container img {
    max-width: 100%;
}

.news-container .news-title {
    margin-top: 0.5em;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
    margin-bottom: 1rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2;
}
.news-container .news-title:hover {
    color: var(--text-color);
}

.news-container p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.news-container a:not(.news-title) {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: 1px dotted var(--primary-color);
}

.news-container a:hover:not(.news-title) {
    color: var(--text-color);
    border-bottom: 1px dotted var(--text-color);
    text-decoration: none;
}

.subscribe {
    background-color: var(--bulletin-bg-color);
    padding-bottom: 4rem;
}

.subscribe form {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.subscribe input[type="text"],
input[type="email"] {
    width: 100%;
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.subscribe p,
label {
    font-size: 0.6rem;
}

.subscribe .boton {
    display: inline-block;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.subscribe .boton:hover {
    background: var(--button-hover-bg-color);
}

footer {
    background: var(--footer-bg-color);
    color: var(--white-color);
    padding-top: 3rem;
    margin-top: auto;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2rem;
    position: relative;
}

footer a {
    color: var(--white-color);
}

footer ul {
    margin-bottom: 1em;
}

footer li {
    display: inline-block;
}

footer a:hover {
    color: var(--primary-color);
}

footer .legal-links li::after {
    content: "•";
    margin-right: 0.5em;
    margin-left: 0.5em;
}

footer .legal-links li:last-child:after {
    content: "";
}

footer .social-media-links li:hover {
    opacity: 0.7;
}

footer #arrow-go-up {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 2rem;
}

/* Página de síntomas */

#symptoms {
    display: flex;
    flex-direction: column;
}

#symptoms > div {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 1.2rem;
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    max-width: 100%;
    justify-content: space-between;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    margin-bottom: 1em;
}

#symptoms > div:nth-child(even) {
    align-self: flex-end;
}

#symptoms div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#symptoms h2 {
    font-size: 1.5rem;
}

#symptoms p {
    font-size: 1rem;
    text-align: justify;
}

#symptoms .link-mas-sobre {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-bottom: 1px dotted var(--primary-color);
}

#symptoms .link-mas-sobre:hover {
    color: var(--text-color);
    border-bottom: 1px dotted var(--text-color);
    text-decoration: none;
}

/* Página de vídeos */

.sr {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 5rem;
}

#videos-container .video-fluid {
    padding-bottom: 56.25%; /* Ratio de 16:9 */
    position: relative;
}

#videos-container .video-fluid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videos-container > div {
    background-color: var(--white-color);
}

#videos-container figcaption {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
    text-align: center;
}

#videos-container iframe {
    width: 100%;
}

/* Página COP26 */

#cop26grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    max-width: 100%;
    font-size: 1rem;
    margin-bottom: 5rem;
}

#cop26grid ol {
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}
#cop26grid ol li {
    list-style-type: decimal;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#cop26grid h2 {
    margin-bottom: 1rem;
}

#cop26grid p {
    font-weight: 400;
    margin-bottom: 1rem;
}

#cop26grid blockquote {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: var(--white-color);
    border-left: 4px solid var(--primary-color);
    font-style: italic;
    font-size: 1rem;
}

#cop26grid section:last-child {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
}

#cop26grid h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Pantallas de escritorio */
@media screen and (orientation: landscape) {
    @media (min-width: 992px) {
        .container {
            max-width: 900px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1040px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1100px;
        }
    }
}

/* Pantallas de móviles */
@media screen and (orientation: portrait) {
    .container {
        max-width: 100%;
    }

    header {
        text-align: center;
    }

    header .menu-links li {
        display: list-item;
        margin-right: 30px;
    }

    #index-first-section {
        font-size: 2.5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;

        background: url(../img/bg-hero-home.jpg) no-repeat;
        background-size: 100% 100%;
        background-position: center top;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2em;
        padding-bottom: 1em;
        line-height: 1;
    }

    main {
        font-size: 1.5rem;
    }

    .news-container {
        grid-template-columns: 1fr;
    }

    .news-container article {
        margin-bottom: 1rem;
    }

    .subscribe form {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    footer {
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    }

    footer .legal-links li {
        display: list-item;
    }

    footer .legal-links li::after {
        content: "";
        margin-right: 0em;
        margin-left: 0em;
    }

    #symptoms > div {
        width: 100%;
        grid-template-columns: 1fr;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 2rem;
    }

    #videos-container {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        max-width: 100%;
        font-size: 1rem;
        margin-bottom: 5rem;
    }

    #cop26grid {
        grid-template-columns: 1fr;
    }

    #cop26grid p,
    #cop26grid ol li,
    #cop26grid blockquote {
        font-size: 0.95rem;
    }

    #cop26grid section:last-child {
        text-align: left;
        word-break: normal;
        hyphens: none;
    }
}
